<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="appType" value="" />
	<variable name="appId" value="">

    <targets>
        <target name="console" xsi:type="Console" />
		<target name="all" xsi:type="File"
			fileName="${basedir}/../Logs/Log.txt"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>

    <targets>
		<target name="info" xsi:type="File"
			openFileCacheTimeout="3600"
			fileName="${basedir}/../Logs/Log-${var:appType}-${var:appIdFormat}-Info-${date:universalTime=true:format=yyyyMMdd}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>

    <rules>
        <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog>